/* Component: Add button on the front build screen
 * The add button is white with grey border. 
 * Adds new nodes onto the screen
 */
.add-node-button {
    fill:rgb(255, 255, 255);
    stroke: rgb(209, 209, 209) ;
    stroke-width: 1;
    cursor: pointer;
}

.add-node-button-text {
    cursor: pointer;
}