/* Component: Add button on the front build screen
 * The add button is white with grey border. 
 * Adds new nodes onto the screen
 */
.add_node {
    fill:rgb(255, 255, 255);
    stroke: rgb(209, 209, 209) ;
    stroke-width: 1;
    
}

.add_node:hover {
    fill:rgb(209, 209, 209)
}

.add_node ~ .add_node_text:hover {
    fill:rgb(209, 209, 209)  
}


.delete:hover {
    fill:rgb(209, 209, 209)
}
/* Component: Delete button on the front build screen
 * The delete button is white with grey border.
 * Deletes any 'component' on the screen, including nodes and edges.
 */
.delete {
    fill:rgb(255, 255, 255);
    stroke: rgb(209, 209, 209) ;
    stroke-width: 1;
   
}
